@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #686868;
  font-size: 15px;
}

body {
  margin: 30px 8px;
  box-sizing: border-box;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
  text-align: center;
  margin: 30px;
}

#cabecera {
  text-align: center;
  padding: 40px 0px 20px 0px;
}

#nombre {
  font-size: 40px;
  font-weight: bolder;
  color: #333333;
}

#leyenda {
  margin-top: 10px;
}

.div-img {
  background-color: white;
  margin: 0px 9px;
}

#imagen {
  width: 98%;
  height: auto;
  object-fit: cover;
}

#pie_de_foto {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.timeline {
  margin-top: 50px;
  width: 600px;
}

#frase {
  font-weight: bolder;
  color: #333333;
}

ul {
  width: 100%;
  align-items: flex-end;
  margin-top: 50px;
  text-align: left;
  color: #333333;
}

li {
  margin: 25px;
}

strong {
  color: #333333;
}

.enlace {
  padding-top: 50px;
  padding-bottom: 25px;
}

.enlace #enlaceWiki {
  color: #333333;
  font-weight: bolder;
  font-size: 18px;
}

.enlace #enlaceWiki a {
  color: #477ca7;
  font-size: 18px;
}

.enlace #enlaceWiki a:hover {
  color: #74638f;
}
